* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  text-decoration: none;
}

@font-face {
  font-family: "Starjedi";
  src: local("Starjedi"), url(./assets/fonts/Starjedi.ttf) format(truetype);
}

@font-face {
  font-family: "Starjhol";
  src: local("Starjhol"), url(./assets/fonts/Starjhol.ttf) format(truetype);
}

@font-face {
  font-family: "Starjout";
  src: local("Starjout"), url(./assets/fonts/Starjout.ttf) format(truetype);
}

@font-face {
  font-family: "Strjmono";
  src: local("Strjmono"), url(./assets/fonts/Strjmono.ttf) format(truetype);
}

@font-face {
  font-family: "Stjldbl1";
  src: local("Stjldbl1"), url(./assets/fonts/Stjldbl1.ttf) format(truetype);
}
@font-face {
  font-family: "Stjldbl2";
  src: local("Stjldbl2"), url(./assets/fonts/Stjldbl2.ttf) format(truetype);
}
@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"), url(./assets/fonts/Orbitron.ttf) format(truetype);
}
